<div infinite-scroll='post.paginateLoad()' infinite-scroll-distance="1" infinite-scroll-disabled="post.busy" infinite-scroll-parent ng-if="post.show" layout="row" layout-align="center start">
	<div layout="column" layout-align="center center" layout-margin flex flex-gt-sm="50">
		<md-card ng-repeat="post in post.items | filter: toolbar.searchText | orderBy:sortType:sortReverse" layout-fill>
			<md-card-header>
	          	<md-card-avatar>
	            	<img ng-src="/user/avatar/{{post.user.id}}" alt="avatar" class="md-user-avatar" ng-if="post.user.avatar_path">
	            	<img src="/img/2Color-Favicon_512x512-1.png" class="md-user-avatar" alt="" ng-if="!post.user.avatar_path">
	          	</md-card-avatar>
	          	<md-card-header-text layout="row">
	            	<div layout="column" flex>            		
		            	<span class="md-title">{{post.user.name}} - {{post.user.position}}</span>
		            	<span class="md-subhead">
		            		<span am-time-ago="post.created_at"></span>
		            		<span hide-xs hide-sm> | {{post.created_at | date: 'EEEE, MMM. dd, yyyy,'}} at {{post.created_at | date: 'hh:mma'}}</span>
		            	</span>
	            	</div>
					<md-icon class="mdi mdi-star accent" ng-if="post.pinned"></md-icon>
	          	</md-card-header-text>
	        </md-card-header>
	        <img ng-src="/post/photo/{{post.id}}" class="md-card-image" alt="{{post.title}} Photo" ng-if="post.image_path">
	        <md-card-title>
	          	<md-card-title-text>
	            	<span class="md-headline">{{post.title}}</span>
	          	</md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          	<p>
	          		{{post.body}}
	          	</p>
	          	<md-chips ng-model="post.chips" name="hashTags" readonly="true"></md-chips>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="start center" ng-if="post.allow_comments && user">
	        	<md-card-icon-actions>
		          	<md-button ng-click="commentSection(post)">
		          		<md-icon class="mdi mdi-comment grey"></md-icon>
		          	</md-button>
		        </md-card-icon-actions>
          		<md-button ng-if="post.comments_count" ng-click="fetchComments(post)">{{post.comments_count}} Comment <span ng-if="post.comments_count > 1">s</span></md-button>
	        </md-card-actions>
	        <md-card-content ng-if="!post.allow_comments">
		        <em class="secondary-post">Comments are disabled for this post.</em>
	        </md-card-content>
	        <form novalidate name="Comment{{$index}}" ng-if="post.allow_comments && user" hide-xs>
	        	<div layout="row" layout-align="start center" layout-padding flex>        		
		        	<md-list>
		        		<md-list-item>
		        			<img ng-src="/user/avatar/{{user.id}}" class="md-avatar" ng-if="user.avatar_path"/>
		        			<img src="/img/2Color-Favicon_512x512-1.png" class="md-avatar" alt="" ng-if="!user.avatar_path">
		        		</md-list-item>
		        	</md-list>
		        	<md-input-container md-no-float class="md-block" flex>
					    <textarea id="comment-{{post.id}}" ng-model="post.new_comment" type="text" placeholder="Write a comment..."></textarea>
				    </md-input-container>
					<md-button class="md-icon-button" type="submit" ng-click="submit(post)">
						<md-icon id="submit-{{post.id}}" class="mdi mdi-send grey"></md-icon>
					</md-button>
	        	</div>
	        </form>
		    <md-card-content ng-if="post.comments">
		    	<md-divider></md-divider>
		    	<md-button class="md-primary" ng-if="post.comments_count > post.comments.length">Previous comments</md-button>
		    	<md-list>
		    		<md-list-item ng-repeat="comment in post.comments" class="md-3-line md-long-text">
		    			<img src="/img/2Color-Favicon_512x512-1.png" class="md-avatar" alt="" ng-if="!comment.user.avatar_path">
		    			<img ng-src="/user/avatar/{{comment.user_id}}" class="md-avatar" alt="" ng-if="comment.user.avatar_path">
						<div class="md-list-item-text">
							<h3>{{comment.user.name}}</h3>
							<p>{{comment.message}}</p>
							<span am-time-ago="comment.created_at" class="secondary-text"></span>
						</div>
		    		</md-list-item>
		    	</md-list>
		    </md-card-content>
		    <md-divider></md-divider>
	    </md-card>
	</div>
</div>

<div layout="row" layout-align="center center" layout-padding layout-margin ng-if="isLoading">
	<md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
</div>
<div layout-padding layout-margin ng-if="!post.items.length && post.show && !post.no_matches">
	Nothing to display.
</div>