<md-dialog aria-label="Change Password"  flex flex-gt-sm="50" flex-gt-lg="40" ng-cloak>
    <form name="changePasswordForm">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 class="white-text">Change Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout-padding layout-wrap>
            <md-subheader class="md-accent" ng-if="error">Oops! Something went wrong! An error occured. Please try again.</md-subheader>
            <!-- Old -->
            <div layout="column" flex="100">
                <md-input-container class="md-block">
                    <label>Old Password</label>
                    <input type="password" name="oldPassword" required ng-model="password.old" ng-minlength="8" ng-blur="checkPassword()" ng-disabled="busy">
                    <div class="pattern" ng-if="!match && show">Incorrect Password.</div>
                    <div ng-messages="changePasswordForm.oldPassword.$error" ng-if="changePasswordForm.oldPassword.$touched">
                        <div ng-message="required">Old password is required.</div>
                        <div ng-message="minlength">Old password must be at least 8 characters.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" flex layout-wrap flex="100">            
                <!-- New -->
                <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                    <label>New Password</label>
                    <input type="password" name="newPassword" required ng-model="password.new" ng-minlength="8" ng-disabled="busy">
                    <div class="pattern" ng-if="password.new != password.confirm && changePasswordForm.confirmPassword.$touched && password.old != password.new">Passwords doesn't match.</div>
                    <div class="pattern" ng-if="password.old == password.new && changePasswordForm.oldPassword.$touched && changePasswordForm.newPassword.$touched">New password must not be the same with old password.</div>
                    <div ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.newPassword.$touched">
                        <div ng-message="required">New password is required.</div>
                        <div ng-message="minlength">New password must be at least 8 characters.</div>
                    </div>
                </md-input-container>
                <!-- Confirm -->
                <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" required ng-model="password.confirm" ng-minlength="8" ng-disabled="busy">
                    <div class="pattern" ng-if="password.new != password.confirm && changePasswordForm.newPassword.$touched && changePasswordForm.confirmPassword.$touched">Passwords doesn't match.</div>
                    <div ng-messages="changePasswordForm.confirmPassword.$error" ng-if="changePasswordForm.confirmPassword.$touched">
                        <div ng-message="required">Confirm password is required.</div>
                        <div ng-message="minlength">Confirm password must be at least 8 characters.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" layout-align="end center">        
        <md-button ng-if="!busy" class="md-primary" aria-label="Submit" ng-click="submit()">
            Change
        </md-button>
        <md-progress-circular ng-if="busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
    </div>
</md-dialog>