<md-dialog flex-gt-sm="20">
	<md-dialog-content>
	    <md-subheader>{{data.name}} - {{data.description}}</md-subheader>
	    <md-list ng-cloak>
	        <md-list-item flex ng-repeat="item in data.current.menu" ng-if="item.show">
	            <md-button flex ng-click="item.action(data)">
			        <div layout="row" flex>
		                <md-icon class="mdi {{item.icon}} grey"></md-icon>
		                <span flex="5"></span>
		                <span class="md-inline-list-icon-label">{{ item.label }}</span>
		                <span flex></span>
			        </div>
	            </md-button>
	        </md-list-item>
	    </md-list>
	</md-dialog-content>
</md-dialog>