<div class="md-toolbar-tools">
	<md-nav-bar aria-label="navigation" md-selected-nav-item="subheader.current.label" flex>
		<md-nav-item md-nav-click="subheader.all.action()" name="All">All</md-nav-item>
	    <md-nav-item ng-repeat="nav in subheader.navs | orderBy:'label'" md-nav-click="nav.action(nav)" name="{{nav.label}}">{{nav.label}}</md-nav-item>
	</md-nav-bar>
</div>
<!-- Icons -->
<md-subheader layout="row" flex>
	<!-- Cancel Select Multiple -->
    <md-button ng-if="selectMultiple" class="md-icon-button" ng-click="subheader.cancelSelectMultiple()">
        <md-icon class="mdi grey mdi-close"></md-icon>
        <md-tooltip hide-xs hide-sm hide-md>Cancel</md-tooltip>
    </md-button>
    
    <!-- Sort -->
    <md-menu>
        <md-button aria-label="Open sort" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon class="mdi mdi-sort-variant grey"></md-icon>
            <md-tooltip hide-xs hide-sm hide-md>Sort</md-tooltip>
        </md-button>
        <md-menu-content width="4">
            <md-subheader>Sort</md-subheader>
            <md-menu-item ng-repeat="item in subheader.sort">
                <md-button aria-label="{{item.label}}" flex ng-click="subheader.sortBy(item)">
                    <div layout="row">
                        <span>{{item.label}}</span>
                        <span flex></span>
                        <md-icon ng-show="!item.sortReverse && sortType == item.type" class="mdi mdi-chevron-down grey"></md-icon>
                        <md-icon ng-show="item.sortReverse && sortType == item.type" class="mdi mdi-chevron-up grey"></md-icon>
                    </div>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    
    <!-- Other Buttons -->
    <md-button ng-repeat="menu in subheader.current.menu" aria-label="others" class="md-icon-button" ng-click="menu.action()" ng-if="!selectMultiple">
        <md-icon class="mdi {{menu.icon}} grey"></md-icon>
        <md-tooltip hide-xs hide-sm hide-md>{{menu.label}}</md-tooltip>
    </md-button>

    <!-- Mark Multiple -->
    <md-button ng-if="selectMultiple" class="md-icon-button" ng-click="subheader.toggleMark()">
        <md-icon class="mdi grey {{subheader.mark.icon}}"></md-icon>
        <md-tooltip hide-xs hide-sm hide-md>{{subheader.mark.label}}</md-tooltip>
    </md-button>
</md-subheader>