<div infinite-scroll='model.paginateLoad()' infinite-scroll-distance="1" infinite-scroll-disabled="model.busy" infinite-scroll-parent ng-if="model.show">
	<div ng-if="model.items.length" flex flex-gt-md="95">
		<md-list>
			<md-list-item class="md-3-line" ng-repeat="model in model.items | filter: toolbar.searchText | orderBy:sortType:sortReverse" ng-if="showInactive || !model.deleted_at">
				<h2 class="md-avatar" ng-class="model.deleted_at ? 'red-bg': 'primary-bg'" layout="row" layout-align="center center">
					<span class="md-headline white-text">{{model.brand.charAt(0).toUpperCase()}} {{model.name.charAt(0).toUpperCase()}}</span>
				</h2>
				<div class="md-list-item-text">
					<h3>{{model.brand}} {{model.name}}</h3>
					<h4>{{model.model}} <span ng-if="model.users_count">Users: {{model.users_count}}</span> {{model.email}}</h4>
					<p>
						<a href="{{model.link}}" target="_blank">{{model.link}}</a>
						{{model.asset_tag}} <span ng-if="model.deleted_at">| Deleted at: {{model.deleted_at | date: 'EEEE, MMM. dd, yyyy, hh:mma'}}</span>
						<span ng-if="model.group">Group: {{model.group.name}}</span>
						<span ng-if="model.position">| Position: {{model.position}}</span>
						<span ng-if="model.roles.length">
							<br>
							Roles : 
							<span ng-repeat="role in model.roles">{{role.description}} <span ng-if="!$last">|</span> </span>
						</span>
					</p>
				</div>
				<md-menu ng-show="!model.deleted_at">
					<md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			            <md-icon class="mdi mdi-dots-vertical grey"></md-icon>
			            <md-tooltip>{{model.brand}} {{model.name}}</md-tooltip>
			        </md-button>

			        <md-menu-content width="4">
						<md-subheader class="md-no-sticky">{{model.asset_tag}} {{model.name}}</md-subheader>
						 <!-- Update -->
			            <md-menu-item>
				            <md-button aria-label="Update" ng-click="updateModel(model)" flex>
				                Update
				            </md-button>
			        	</md-menu-item>
			        	<md-menu-item>
				            <!-- Delete -->
				            <md-button aria-label="Delete" ng-click="deleteModel(model)" flex ng-if="!model.hideDelete">
				                Delete
				            </md-button>
			        	</md-menu-item>
			        </md-menu-content>
				</md-menu>
			</md-list-item>
		</md-list>
	</div>	
</div>
<div layout="row" layout-align="center center" layout-padding layout-margin ng-if="isLoading">
	<md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
</div>
<div layout-padding layout-margin ng-if="!model.items.length && model.show && !model.no_matches">
	Nothing to display.
</div>
<div layout-padding layout-margin ng-if="model.no_matches && model.show">
	<p>No results matching <strong class="accent-text">"{{query.searchText}}"</strong> were found.</p>
</div>