<div layout="row" layout-align="center start">
    <div layout="column" layout-align="center center" layout-margin flex flex-gt-md="80" ng-if="slideshow">
        <md-card>
            <div uib-carousel active="0" interval="5000" no-wrap="false">
                <div uib-slide ng-repeat="slide in slideshow.slides" index="$index">
                    <img ng-src="/slide/{{slide.id}}" style="margin:auto; max-width:1080px">
                    <div class="carousel-caption">
                        <p>{{slide.description}}</p>
                    </div>
                </div>
            </div>
            <md-card-title ng-if="slideshow.title">
                <md-card-title-text>
                    <span class="md-headline">{{slideshow.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content ng-if="slideshow.description">
                <p>{{slideshow.description}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" ng-if="current_user.can_post">
                <md-button class="md-icon-button">
                    <md-icon class="mdi mdi-pencil grey"></md-icon>
                    <md-tooltip>Edit</md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
<div layout="row" layout-align="center center" layout-padding layout-margin ng-if="isLoading">
    <md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
</div>
<div layout-padding layout-margin ng-if="!slideshow">
    Nothing to display.
</div>
