<md-dialog layout="column" flex flex-gt-md="50"  aria-label="Add Document" ng-cloak>
	<form name="documentForm" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 class="white-text">Form</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="mdi mdi-close mdi-24px" aria-label="cancel"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content flex layout-padding layout-wrap>
			<md-subheader class="red-text" ng-if="error">Oops! Something went wrong! An error occured. Please try again.</md-subheader>
			<div layout="row" layout-wrap flex>
				<!-- Name -->
				<md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
					<label>Name</label>
					<input type="text" name="Name" required ng-model="document.name" ng-blur="checkDuplicate()" ng-disabled="busy">
					<div ng-messages="documentForm.Name.$error" ng-if="documentForm.Name.$touched">
						<div ng-message="required">Name for this file is required.</div>
					</div>
				</md-input-container>
			</div>
			<!-- Description -->
			<div layout="row" layout-wrap flex>
				<md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
					<label>Description</label>
					<textarea name="Title" ng-model="document.description" ng-disabled="busy"></textarea>
				</md-input-container>
			</div>
			
			<div layout="column" ng-if="pdfUploader.queue.length">
				<p class="secondary-text">Attachment</p>
				<md-list>
					<md-list-item ng-repeat="item in pdfUploader.queue">
						<p ng-bind="item.file.name"></p>
						<md-button class="md-icon-button" aria-label="Remove Choice" ng-click="item.remove()" ng-if="!busy">
							<md-icon class="mdi mdi-delete mdi-24px grey"></md-icon>
							<md-tooltip>Remove</md-tooltip>
						</md-button>
					</md-list-item>
				</md-list>
			</div>
			<input id="file-upload" type="file" nv-file-select uploader="pdfUploader" style="display: none;"/>
			<md-button ng-click="clickUpload()" ng-if="!pdfUploader.queue.length">
                <md-icon class="mdi mdi-file grey"></md-icon>
                Choose File
            </md-button>
			<div class="red-text" ng-if="fileError">Only PDF files can be uploaded.</div>				
		</md-dialog-content>
	</form>
	<div layout="row" layout-align="end center">		
		<md-button ng-if="!busy" class="md-button md-primary" aria-label="Submit" ng-click="submit()">
			Submit
		</md-button>
		<md-progress-circular ng-if="busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
	</div>
</md-dialog>