<div infinite-scroll='reservation.paginateLoad()' infinite-scroll-distance="1" infinite-scroll-disabled="reservation.busy" infinite-scroll-parent ng-if="reservation.show">
	<md-list>
		<md-list-item class="md-3-line md-long-text" ng-repeat="reservation in reservation.items | filter: toolbar.searchText | orderBy:sortType:sortReverse" ng-click="viewReservation(reservation)">
			<div class="md-list-item-text">
				<h3>{{reservation.title}}</h3>
				<h4>{{reservation.user.name}} - {{reservation.user.email}}</h4>
				<p>{{reservation.location.name}} | {{reservation.start | date: 'EEEE, MMM. dd, yyyy'}} <span ng-if="!reservation.allDay">at {{reservation.start | date: 'hh:mma'}} to <span ng-if="reservation.start.toDateString() != reservation.end.toDateString()">{{reservation.end | date: 'EEEE, MMM. dd, yyyy'}} at</span> {{reservation.end | date: 'hh:mma'}}</span>  <span ng-if="reservation.participants">| {{reservation.participants}} participant</span><span ng-if="reservation.participants > 1">s</span></p>
			</div>
		</md-list-item>
	</md-list>
</div>
<div layout="row" layout-align="center center" layout-padding layout-margin ng-if="isLoading">
	<md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
</div>
<div layout-padding layout-margin ng-if="!reservation.items.length && reservation.show && !reservation.no_matches && !isLoading">
	Nothing to display.
</div>
<div layout-padding layout-margin ng-if="reservation.no_matches && reservation.show">
	<p>No results matching <strong class="accent-text">"{{query.searchText}}"</strong> were found.</p>
</div>