<md-dialog aria-label="Post Form"  flex flex-gt-sm="35" ng-cloak>
	<md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="white-text">{{reservation.title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="mdi mdi-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex layout-padding layout-wrap>
        
    </md-dialog-content>
</md-dialog>