<md-dialog aria-label="Reservation Form"  flex flex-gt-sm="60" ng-cloak>
    <form name="reservationForm">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 class="white-text">Reservation</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout-padding layout-wrap>
            <md-subheader class="red-text" ng-if="error">Oops! Something went wrong! An error occured. Please try again.</md-subheader>
            <md-subheader class="red-text" ng-if="duplicate">Reservation has conflict with others. Please try other rooms or schedule.</md-subheader>
            <div layout="row" layout-wrap flex>
                <!-- Title -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Title</label>
                    <input type="text" name="Title" required ng-model="reservation.title" ng-disabled="busy">
                    <div ng-messages="reservationForm.Title.$error" ng-if="reservationForm.Title.$touched">
                        <div ng-message="required">Title is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Location</label>
                    <md-select name="Location" ng-model="reservation.location_id" required ng-disabled="busy" ng-change="locationChange()" ng-if="locations.length && reservation">
                        <md-option ng-repeat="location in locations | orderBy:'name'" value="{{location.id}}">{{location.name}}</md-option>
                    </md-select>
                    <div ng-messages="reservationForm.Location.$error" ng-if="reservationForm.Location.$touched">
                        <div ng-message="required">Location is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-wrap flex>
                <div flex flex-xs="100" flex-sm="100" flex-md="100">            
                    <!-- From -->
                    <md-subheader class="md-no-stick">From</md-subheader>
                    <div layout="row" layout-wrap flex>
                        <div layout="column" flex-xs="100" flex-sm="100" flex-gt-sm>
                            <md-datepicker name="DateStart" required ng-model="reservation.date_start" md-placeholder="Enter date" md-min-date="min_start_date" ng-change="setDateStart()"></md-datepicker>
                            <div class="validation-messages" ng-messages="reservationForm.DateStart.$error">
                                <div ng-message="valid">The entered value is not a date!</div>
                                <div ng-message="required">Date start is required!</div>
                                <div ng-message="mindate">Date cannot be earlier than today</div>
                            </div>
                        </div>
                        <div layout="column" flex-xs="100" flex-sm="100" flex-gt-sm ng-if="!reservation.allDay">
                            <div uib-timepicker readonly-input="true" ng-model="reservation.time_start" ng-change="timeStartChanged()" hour-step="1" minute-step="30" show-meridian="true" min="min_start_time"></div>
                            <div class="red-text" ng-if="reservation.time_start < min_start_time">Time start cannot be earlier than current time.</div>
                        </div>
                    </div>
                </div>
                <div flex flex-xs="100" flex-sm="100" flex-md="100">            
                    <!-- To -->
                    <md-subheader class="md-no-stick">To</md-subheader>
                    <div layout="row" layout-wrap flex>
                        <div layout="column" flex-xs="100" flex-sm="100" flex-gt-sm>
                            <md-datepicker name="DateEnd" required ng-model="reservation.date_end" md-placeholder="Enter date" md-min-date="reservation.date_start" ng-change="setDateEnd()"></md-datepicker>
                            <div class="validation-messages" ng-messages="reservationForm.DateEnd.$error">
                                <div ng-message="valid">The entered value is not a date!</div>
                                <div ng-message="required">Date end is required!</div>
                                <div ng-message="mindate">Date cannot be earlier than today</div>
                            </div>
                        </div>
                        <div layout="column" flex-xs="100" flex-sm="100" flex-gt-sm ng-if="!reservation.allDay">
                            <div uib-timepicker readonly-input="true" ng-model="reservation.time_end" ng-change="timeEndChanged()" hour-step="1" minute-step="30" show-meridian="true" min="min_end_time"></div>
                            <div class="red-text" ng-if="reservation.time_end < reservation.time_start">Time end cannot be earlier than time start.</div>
                        </div>
                    </div>
                </div>
            </div>
            <md-switch class="md-primary" ng-model="reservation.allDay" ng-change="allDay()" ng-disabled="busy">All Day</md-switch>
            <md-switch class="md-primary" ng-model="repeat" ng-change="setRepeat()" ng-disabled="busy">Repeat</md-switch>
            <div layout="row" layout-wrap layout-align="space-between center" flex ng-if="repeat">
                <!-- Repeat -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Repeat</label>
                    <md-select name="Repeat" ng-model="reservation.repeat" ng-change="setUntil()">
                        <md-option ng-repeat="item in repetitions" value="{{item}}">{{item}}</md-option>
                    </md-select>
                </md-input-container>
                <!-- Until -->
                <div layout="column" flex-xs="100" flex-sm="100" flex-gt-sm ng-if="reservation.repeat">
                    <h4>Until</h4>
                    <md-datepicker name="Until" required ng-model="reservation.until" md-placeholder="Enter date" md-min-date="reservation.date_end" ng-change="checkDuplicate()"></md-datepicker>
                    <div class="validation-messages" ng-messages="reservationForm.Until.$error">
                        <div ng-message="valid">The entered value is not a date!</div>
                        <div ng-message="required">Date is required!</div>
                        <div ng-message="mindate">Date cannot be earlier than date end.</div>
                    </div>
                </div>
            </div>
            <div layout="row" layout-wrap flex>
                <!-- Remarks -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Remarks</label>
                    <textarea name="Remarks" ng-model="reservation.remarks" ng-disabled="busy"></textarea>
                </md-input-container>
            </div>
            <md-subheader>Equipment</md-subheader>
            <div layout="row" flex>
                <md-checkbox ng-repeat="equipment_type in equipment_types" ng-model="reservation.equipment_types[$index]" ng-if="equipment_type.equipment.length" aria-label="{{equipment_type.name}}" ng-true-value="{{equipment_type}}" ng-false-value="null" flex class="md-primary" flex-xs="100" flex-sm="100" flex-gt-sm ng-disabled="busy">
                    {{equipment_type.name}}
                </md-checkbox>
            </div>        
        </md-dialog-content>
    </form>
    <div layout="row" layout-align="end center">   
        <md-button ng-if="!busy" class="md-primary" aria-label="Submit" ng-click="submit()">
            Submit
        </md-button>
        <md-progress-circular ng-if="busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
    </div>
</md-dialog>