<section class="full-height" layout="column" layout-align="space-between center">
	<md-toolbar class="md-whiteframe-1dp">
		<div class="md-toolbar-tools">
			<a href="/" class="site-logo page-not-found">
				<!-- <img src="/img/Personiv-icon_large-white.png" alt="Personiv Logo"> -->
				<h1>EZPayPlus</h1>
			</a>
		</div>
	</md-toolbar>
	<md-content layout="column" flex layout-margin>
		<h1 hide-sm hide-md show-gt-md class="md-display-4 primary-text">Error 4<span>&#9785;</span>4</h1>
		<h1 show-sm show-md hide-gt-md class="md-display-3 primary-text">Error 4<span>&#9785;</span>4</h1>
		<p>Sorry, but the page you were trying to view does not exist.</p>
		<p>It looks like this was the result of either:</p>
		<ul>
			<li>a mistyped address</li>
			<li>an out-of-date link</li>
		</ul>
		<div class="md-actions" layout="row" layout-align="end center">
			<a href="/" class="md-button md-primary md-raised white-text">Back to home</a>
		</div>
	</md-content>
</section>